body {
    font-family: Georgia, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #181818;
}

input {
    padding: 5px;
    margin: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border-radius:15px;
    margin: 5px;

}

input {
    padding: 10px 20px;
    font-size: 16px;
    border-radius:10px;
    margin: 5px;
    font-family: Georgia, sans-serif;
}

#message {
    font-weight: bold;
    font-family: Georgia, sans-serif;
    color: #FF0000;
}

/* Оновлені стилі для контейнера квадратів */
#digit-container {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-auto-flow: column;
    grid-gap: 2px;
}
